.input-container .mat-form-field + .mat-form-field + .mat-form-field + .mat-form-field + .mat-form-field + .mat-{
    margin-left: 8px;
  }

.sort-button{
    height: 50px;
}

.buttons-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;

}

h2{
  margin-top: 20px;
  text-align: center;
}


mat-form-field {
 
    align-content: center;
    margin-top: 20px;
    width: 16%;
    margin-left: 2%;
    margin-right: 2%;
  }
